/* Import fonts handled in HTML via Google Fonts */

body {
    background-color: #F5F5DC;
    color: #1a1a1a;
    /* Efecto de ruido sutil */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
}

h1, h2, h3, h4, .font-heading {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

p, .font-body {
    font-family: 'Lora', serif;
}

.btn-stuffy {
    transition: all 0.2s ease;
    border: 2px solid black;
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
}

.btn-stuffy:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
}

.btn-stuffy:active {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
}

/* Snipcart Overrides para que combine con la marca */
.snipcart-modal__container {
    background-color: #F5F5DC !important;
    font-family: 'Lora', serif !important;
}
.snipcart-cart-button {
    background-color: #E74C3C !important;
    color: white !important;
}
